/* Overall style */
/* Buttons */
.tedx-btn {
  color: #fff;
  background-color: #f9322c;
  border-color: #f9322c;
  border: none;
  height: 54px;
  width: 246px;
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.2s;
}

.tedx-badge-red {
  background: #f9322c;
  color: #fff;
}
.tedx-text-red{
  color:#f9322c !important;
}
.tedx-text-lightred{
  color:#fffafa !important;
}
.tedx-background-red{
  background-color:#f9322c !important;
}

.tedx-btn:hover {
  box-shadow: inset 6px 0 0 0 #000;
  background-color: #f9322c;
}

.tedx-btn:active {
  box-shadow: inset 246px 0 0 0 #000;
  background-color: #f9322c;
}

.tedx-btn-white {
  color: #000;
  background-color: #fff;
  border-color: #fff;
  border: none;
  height: 54px !important;
  width: 246px !important;
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.2s;
}

.tedx-btn-white:hover {
  box-shadow: inset 6px 0 0 0 #f9322c;
  background-color: #fff;
}

.tedx-btn-white:active {
  box-shadow: inset 246px 0 0 0 #f9322c;
  background-color: #ffff;
}

.tedx-btn-rounded{
  width: 60px;
  height: 60px;
  background: #fffafa;
  color: #f9322c;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  text-decoration: none;
  transition: 0.2s;
}
.tedx-btn-rounded:hover{
  width: 60px;
  height: 60px;
  background: #f9322c;
  color: #fffafa;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  text-decoration: none;
  transition: 0.2s;
}
/* corner cut effect */
.tedx-cut-corner {
  -webkit-clip-path: polygon(10% 0%, 90% 0%, 100% 0%, 100% 90%, 90% 100%, 0% 100%, 0% 90%, 0% 10%);
  clip-path: polygon(10% 0%, 90% 0%, 100% 0%, 100% 90%, 90% 100%, 0% 100%, 0% 90%, 0% 10%);
}

/* Back text */
.tedx-back-text {
  height: 100%;
  width: 100%;
  bottom: 0;
  position: absolute;
  overflow: hidden;
  -webkit-text-stroke-color: #f0e4e4;
  font-size: 12.6rem;
  width: 100%;
  white-space: nowrap;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  box-sizing: border-box;
  z-index: -1;

  /* On Mobile */
  top: 80vh;
}

#main {
  overflow: hidden;
  position: relative;
}

/* Header and cover */
.tedx-logo {
  max-height: 40px;
  margin-left: 20px;
}

.tedx-cover-box1 {
  min-height: 60vh;

}

.tedx-cover-eventbox {

  margin-top: 15vh;
}

#tedx-cover-video-wrap {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  height: 120%;
  overflow: hidden;
  border: none;
  z-index: 1;
  filter: saturate(100%) contrast(100%) brightness(50%);
}

#tedx-cover-video {
  min-width: 100%;
  min-height: 100%;
  font-size: 18px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  z-index: 0;
  pointer-events: none
}
.tedx-cover-subtitle{
  margin: 0 0 3.5rem;
  text-shadow: 0 0 0.75em rgb(0 0 0 / 50%);
}

.tedx-cover-title{
  color: #ece8e1;
  font-size: 60px;
  font-weight: bold; 
  line-height: 1.2;
}
.tedx-header {
  z-index: 3;
}

#tedx-cover-video-black {
  position: absolute important !;
  min-width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #000000;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #f9322c;
  text-transform: uppercase;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

/* Section About */
section.about {
  margin-top: 150px;
  overflow: hidden;
  position: relative;
  padding-bottom: 50px;
  z-index: 3;
  min-height: 200px;
}

.tedx-about-image {
  width: 80%;
  -webkit-clip-path: polygon(10% 0%, 90% 0%, 100% 0%, 100% 90%, 90% 100%, 0% 100%, 0% 90%, 0% 10%);
  clip-path: polygon(10% 0%, 90% 0%, 100% 0%, 100% 90%, 90% 100%, 0% 100%, 0% 90%, 0% 10%);

}

/* image layout on mobile */
@media screen and (max-width: 992px) {
  .tedx-about-image {
    width: 100%;

  }
}

.tedx-cover-eventbox {
  z-index: 3;
}

.tedx-section-text {
  color: #444444;
  margin-top: 1.5rem !important;
}

.content {
  padding: 40px;
}

.tedx-section-title {
  color: #000000;
  font-size: 2rem !important;
  font-weight: 700;
  margin: 10px 0 0 0;

}

.tedx-about-title {
  min-height: 80px;
}

.tedx-section-subtitle {
  margin-left: 3px !important;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #f9322c;
  text-transform: uppercase;
}

.tedx-halo-circle {
  background-image: radial-gradient(50% 50% at 50% 50%, #eb4432 0, hsla(0, 0%, 100%, 0) 100%);
  opacity: .15 !important;
  width: 640px !important;
  height: 640px !important;
  left: -20% !important;
  margin-top: -850px;
  position: absolute !important;
  pointer-events: none !important;
  z-index: -1;
  overflow: hidden;

}

.tedx-halo-circle-right {
  left: initial !important;
  right: -20% !important;
  visibility: hidden;
}

/* Section Events */
#events {
  margin-top: 5%;
  background-color: #000;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 1200px;
}

.tedx-events-row {
  position: absolute;
  background-color: #000;
  width: 100%;

  margin-right: 30px;
  margin-top: 0px !important;
}

.tedx-events-ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}



.tedx-events-card {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
}


.tedx-events-card-background {
  background: linear-gradient(0deg, #000, transparent 100%);
}

/* event card elements */
.tedx-events-date {
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  display: inline;
}

.tedx-events-tag {
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  color: #f9322c;
  display: inline;
}

.tedx-events-title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.tedx-events-card-dash {
  height: 5px;
  width: 50%;
  position: absolute;
  bottom: 0;
  background: #f9322c;
  transition: width .3s ease-out;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5.2vw), calc(100% - 5.5vw) 100%, 0 100%);
}

.tedx-events-card-background:hover .tedx-events-card-dash {
  width: 80%;
}

.tedx-events-img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

/* Mobile behaviour */
.tedx-events-li {
  min-width: 80%;
  box-sizing: border-box;
  margin-right: 20px;
  margin-bottom: 50px;
  cursor: grab;

}

/* Section conference */
#conference {
  background-color: #000;
  padding-bottom: 30px;
  height: 600px;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
}

@media screen and (max-width: 992px) {

  /* Fixing zooming issues on mobile devices*/
  #conference {
    background-attachment: scroll;
  }
}

/* Section support */
#support {
  padding-top: 8rem;
}

.tedx-support-links {
  margin-top: 10px;
}

.tedx-support-link {
  box-shadow: 1px 1px 4px 0 rgb(51 51 51 / 30%);
  margin-left: 5%;
  margin-right: 5%;
  cursor: grab;
}

.tedx-support-dash {
  left: 0;
}

/* Section members */

#members {
  padding-top: 8rem;
}

.tedx-members-tabs {
  text-align: center;
}

.tedx-members-container {
  position: relative;
  height: 400px
}

.particles-js {
  position: absolute;
  width: 100%;
  height: 600px;
}

/* Swipers */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.tedx-swiper-button{
  width: 30px !important;
  height: 30px !important;
  background: #f9322c !important;
  color: #fffafa !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  text-decoration: none;
  transition: 0.2s;
  font-size: 10px !important;
  box-shadow: 0px 0 20px rgb(0 0 0 / 10%);
}


.tedx-members-member-card {
  box-sizing: content-box;
  padding: 100px;
  min-width: 70px;
  margin-top: 50px;
  margin: 40px 30px;
  box-shadow: 0px 0 20px rgb(0 0 0 / 10%);
  background: #fff;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.3s;
}
.tedx-members-member-card:hover {
  box-shadow: 0px 0 20px rgb(0 0 0 / 20%);
}
.tedx-members-bar{
  width: 80px;
  height: 4px;
  background: #f9322c;
  position: absolute;
  bottom:0;
  margin-bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px 10px 0px 0px;
}
.tedx-members-card-image{
  width:100px;
  height:100px;
  object-fit:cover;
  position: absolute;
  border-radius:50%;
  border-width: 3px;
  border-color: #444444;
  top:0;
  margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;

}
.tedx-members-card-content{
  width:220px !important;
  height:100px;
  padding-left: 30px;
  padding-right: 30px;
  object-fit:cover;
  position: absolute;
  border-radius:50%;
  border-width: 3px;
  border-color: #444444;
  top:120px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.tedx-members-card-fullname{
  font-weight: 500;
  font-size: 18px;
  margin-bottom:0px;
}
.tedx-members-card-position{
  font-weight: normal;
  font-size: 14px;
  color: #7a7a7a;
  margin-top:10px;
}
.tedx-members-card-button{
top: 230px;
position: absolute;
margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}


/* Section contact */
.mt-6 {
  margin-top: 1.5rem !important;
}

.tedx-contact-box-row {
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.contact .tedx-contact-box {
  color: #444444;
  background: #fffafa;
  padding: 30px;
}

.contact .php-email-form {
  background: #fffafa;
  padding: 30px;
  height: 100%;
}

.contact .tedx-contact-box i {
  font-size: 38px;
  line-height: 0;
  color: #f9322c;
}

.contact .tedx-contact-box h3 {
  font-size: 20px;
  color: #240407;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.contact .tedx-contact-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact {
  padding-top: 8rem !important;
}

.tedx-contact-message {
  --bs-gutter-y: 1.5rem;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

/* Section links */
.tedx-link-item {

  color: #444444;
  background: #fffafa;
  padding: 5, 10, 5px;
  margin-bottom: 10px;
  transition: 0.2s;
  cursor: grab;
}

.tedx-link-item:hover {

  box-shadow: inset 6px 0 0 0 #000;
}

.tedx-link-item:active {
  box-shadow: inset 6px 0 0 0 #000;
  background-color: #f9322c;
  color: #fff;
}

.tedx-link-icon {
  font-size: 18px;
  line-height: 0;
  color: #f9322c;
  position: absolute;
  margin-left: 10px;
  margin-top: 4px;
  margin-right: 10px;
}

.tedx-link-title {
  margin-left: 50px;
}

/* Disable fade up animation on mobile */
@media screen and (max-width: 480px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/* PC display */
@media only screen and (min-width: 600px) {
  .tedx-halo-circle {
    visibility: visible;
    margin-top: -580px;
  }

  .tedx-about-title {
    min-height: auto;
  }

  .tedx-back-text {
    top: 35%;
    right: -60%
  }

  .tedx-halo-circle-right {

    visibility: visible;
  }

  .tedx-cover-box1 {

    min-height: 60vh;
  }

  .tedx-cover-eventbox {

    margin-top: 20vh;
  }

  section.about {
    margin-top: 170px;
  }

  .tedx-section-title {
    font-size: 38px !important;

  }

  #events {
    height: 700px;
  }

  .tedx-events-li {
    min-width: auto;
    width: 390px;
    height: 220px;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0px;

  }

  .tedx-events-row {
    margin-top: 50px !important;
  }

  .tedx-events-button {
    margin-top: 50px !important;
  }

}